* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #262626;
}

form {
  max-width: 512px;
  margin: 90px auto;
}

textarea, button, output {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

textarea {
  background: #fafafa;
}

textarea:focus {
  border-color: #2b7bde;
  outline: none;
}

button {
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: #2b7bde;
  margin: 8px 0;
}

output {
  display: none;
  text-align: center;
  color: #fff;
}

output.positive, output.neutral, output.negative {
  display: block;
}

output.positive {
  background: #4cb944;
}

output.neutral {
  background: #262626;
}

output.negative {
  background: #dc493a;
}

#confidence, #category {
  font-weight: bold;
}
