<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sentiment classifier</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <form action="prediction" id="form">
    <textarea name="text" id="text" placeholder="Type a piece of text to have it classified as positive or negative."></textarea>
    <button type="submit" id="button">Get prediction</button>
    <output id="output">
      I'm <span id="confidence"></span> sure it's <span id="category"></span>.
    </output>
  </form>

  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
